/* Dashboard.css */
.dashboard-content {
    padding: 20px;
    text-align: center;
  }
  
  .dashboard-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .dashboard-content p {
    font-size: 18px;
  }
  